* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }

    &:focus {
        outline: none;
    }
}


body,
html {
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-size: 100%;
}

body {
    font-family: "Noto Sans TC", "PingFang TC", Roboto, 'Segoe UI', SegoeUI, Helvetica, Arial;
    background-size: 100% auto;
    overflow: hidden;
    height: 100vw;
}