// ===============================================================================
// px to rem
// ===============================================================================
$baseFontSize : 16 * 0.75;
@function rem($pixels, $context: $baseFontSize) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }
    @return $pixels / $context * 1rem;
}

// ===============================================================================
// * Vertical center
// * Transform Method
// * parent element "position: relative;"
// ===============================================================================
@mixin center-transform() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

@mixin center-transform-horizontal() {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}

@mixin center-transform-vertical() {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
}

// ===============================================================================
// *  Disable user-select on an element
// ===============================================================================
@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}